<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <% profiles.forEach(function(profile) { %>
            <li><a href="/api/profile/<%= profile._id %>/"><%= profile._id %></a></li>
            <% }); %>
            <a href="/api/profile/create">Create Profile</a>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<script src="/public/jquery.js"></script>
</body>
</html>